/*Support Version JoyTable.js 2.6.2+ */

/*
    20181220 - joy
        add tag info for improve priority of style
        to fix sometimes the wanted row color overwrite by bootstrap
*/

/* put the arrow in panel-heading (top-right of panel) to collapse the panel */
.joytable .panel-heading span.panel-title[data-toggle='collapse']:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    font-size: 10pt;
    float: right;
    color: grey;
    cursor: pointer;
}

/* put the arrow in panel-heading (top-right of panel) to collapse the panel */
.joytable .panel-heading span.collapsed:after {
    content:"\e080";
    font-size: 10pt;
    cursor: pointer;
}
/* title style*/
.joytable .panel-heading span.panel-title {
    font-weight:bold;
}
/* title collapse style*/
.joytable .panel-heading span.panel-title span.panel-title[data-toggle='collapse']{
    cursor: pointer;
}


/* set element hidden */
.joytable .hide {
    display: none;
}

/* cursor set hand if sortable */
.joytable .sortable {
    cursor: pointer;
}

/* small font of table */
.joytable .small_font,
.joytable table, 
.joytable table > thead > tr > th,
.joytable table > tbody > tr > td {
    font-size: 10px
}

/* color of the header column */
.joytable table > thead > tr > th {
    background-color:#f5f5f5;
    color: #707070;
    border-bottom: 1px solid #000000;
}

/* highlight text color when row was focused */

.joytable table > tbody > tr.list_data.highlight_text > td {
    background-color: rgba(112, 228, 234,0.6);
    text-shadow: 1px 1px white;
    font-weight: bold;
}

/* highlight cell color when row was focused */
.joytable table > tbody > tr.list_data.highlight_background,
.joytable table > tbody > tr.list_data.highlight_background > td {
    background-color: rgba(144, 238, 144, 0.6);
}

.joytable table > tbody > tr.list_data.highlight_background._data_changed,
.joytable table > tbody > tr.list_data.highlight_background > td._data_changed,
.joytable table > tbody > tr.list_data.highlight_text > td._data_changed,
.joytable table > tbody > tr > td._data_changed,
.joytable table > tbody > tr.list_data.highlight_background._data_changed > input,
.joytable table > tbody > tr.list_data.highlight_background > td._data_changed > input,
.joytable table > tbody > tr.list_data.highlight_text > td._data_changed > input,
.joytable table > tbody > tr > td._data_changed > input,
.joytable table > tbody > tr.list_data.highlight_background._data_changed > select,
.joytable table > tbody > tr.list_data.highlight_background > td._data_changed > select,
.joytable table > tbody > tr.list_data.highlight_text > td._data_changed > select,
.joytable table > tbody > tr > td._data_changed > select {
    background: pink;
}

/* style config of default serial number column */
.joytable table > thead > tr > th.sn_col,
.joytable table > tbody > tr > td.sn_col{
    width: 10px;
    text-align: right
}

/* style config of default checkbox column */
.joytable table > thead > tr > th.cb_col,
.joytable table > tbody > tr > td.cb_col{
    width: 10px;
    text-align: right
}